*,
html {
    margin:0;
    padding:0;
}

body{
    display:flex;
    background: red;
}

.kolom{
    justify-content: center;
    align-items: center;
}
h1{
    justify-content: center;
    align-items: center;
}

.apasaja{
    color: white;
    height: 60px;
}

.peringatan{
    color: white;
    height: 50px;
}

.apapun{
    justify-content: center;
    align-items: center;
}
.apalah{
    justify-content: right;
    display: flex;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    height: 10px;
    color: darkblue;
}